* {
  margin: 0;
  padding: 0;
}
.second21 {
  width: 350px;
  height: 440px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px grey;
  border-radius: 20px;
  margin: 0;
}
.zurag {
  width: 100%;
  height: 40%;
  object-fit: cover;
  border-radius: 20px;
}
.picture {
  width: 10%;
  height: 30%;
  border-radius: 50%;
}
.info {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.info p {
  margin-top: 10px;
  margin-left: 20px;
}
.border {
  margin-left: 20px;
  height: 20px;
  border-left: 2px solid gray;
}
.garchig {
  margin-top: 15px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}
.paragraph {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
