* {
  margin: 0;
  padding: 0;
}
.App {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.second21{
  width: 100%;
  height: 100vh;
}
.second {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Heading {
  width: 35%;
  height: 160px;
  margin-top: 150px;
}
.Heading h1 {
  font-weight: 800;
  font-size: 50px;
}
.creater {
  width: 35%;
  height: 5%;
  margin-top: 50px;
}
.sec {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.creater img {
  width: 55px;
  height: 100%;
}
.p {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.border {
  border-left: 1px solid black;
  height: 40%;
}
.clap {
  margin-top: 80px;
}
.mirage {
  width: 100%;
  height: 80vh;
  margin: 0;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.dust {
  width: 40%;
  height: fit-content;
}
.titel {
  width: 100%;
  height: fit-content;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  margin-top: 45px;
}
.end {
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: center;
  margin-top: 300px;
}
.end2 {
  width: 40%;
  height: 100%;
}
.end3 {
  width: 50%;
  height: 100%;
  display: flex;
}
.end3-1 {
  width: 40%;
  height: 100%;
}
.end3-1 p {
  margin: 0;
  margin-left: 15px;
}
.write {
  font-size: 12px;
}
.Name {
  font-size: 20px;
}
.Team {
  font-size: 12px;
  color: gray;
}
.Line {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.Line div {
  border-top: 1px solid gray;
  width: 40%;
}