* {
  margin: 0;
  padding: 0;
}
.fullbody {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #1c1c1c;
}
.big {
  margin: 0;
  padding: 0;
  width: 50%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  border-radius: 100px;
  box-shadow: 0 0 40px white;
  background-color: white;
}
.major {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0 0 100px white;
  background-color: white;
}
.major-img {
  display: flex;
  width: 600px;
  height: 300px;
  border-radius: 100px;
  object-fit: cover;
  justify-content: flex-start;
}
.major-tags {
  display: flex;
}
.major-text {
  display: flex;
}
.major-search {
  display: flex;
}
.major-value {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.val {
  width: 30vw;
  height: 2.5vh;
}
.val-button {
  background-color: aquamarine;
  border: none;
  width: 4vw;
  height: 3vh;
  border-radius: 5px;
  cursor: pointer;
}
.rem {
  border: none;
  background-color: rgb(214, 114, 114);
  border-radius: 5px;
  width: 4vw;
  height: 3vh;
}
.additional {
  width: 100%;
  /* height: 2.5vh; */
}
.comment1 input {
  width: fit-content;
}
.comment {
  border: 1px solid #646464;
  border-radius: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.comment1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.val-parent {
  margin-top: 20px;
}
