* {
    margin: 0;
    padding: 0;
  }
  .App {
    width: 100%;
    height: 100vh;
  }
  .Project {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .first {
    width: 370px;
    height: 375px;
    box-shadow: 1px 1px 5px grey;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
  }
  .star {
    width: 120px;
    height: 24px;
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .text {
    width: 290px;
    height: 154px;
    margin-left: 30px;
    margin-top: 19px;
  }
  .text p {
    text-align: start;
    font-size: 18px;
    font-weight: 600;
    line-height: 29px;
    vertical-align: center;
    color: black;
  }
  .profile {
    width: 200px;
    height: 56px;
    margin-left: 40px;
    margin-top: 50px;
    display: flex;
    align-items: center;
  }
  .profile p {
    font-size: 18px;
    line-height: 29px;
    font-weight: 600;
    margin-left: 20px;
  }
  