* {
  margin: 0;
  padding: 0;
}
.Header {
  width: 100%;
  height: 100vh;
  background-image: url(./background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.product {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}
.pro {
  margin-left: 270px;
  width: 40%;
}
.grchg {
  width: 100%;
  height: 40%;
  margin-bottom: 30px;
}
.grchg p {
  font-size: 60px;
  font-weight: 400;
  line-height: 56px;
  color: white;
}
.text2 {
  width: 75%;
  height: fit-content;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 163.15%;
  color: white;
}
.inputs {
  width: 100%;
  height: 60px;
  margin-top: 70px;
}
.inputs input {
  width: 60%;
  height: 100%;
  border: 1px solid black;
}
.inputs button {
  width: 30%;
  height: 100%;
  background-color: #0bbef2;
  color: white;
  border: 0;
  border-radius: 5px;
  margin-left: 14px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}
.Meeting {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.meeting {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  border-radius: 20px;
}
.meeting img {
  border-radius: 20px;
}
.discription {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dis1 {
  width: 465px;
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header2 p {
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
}
.header2 {
  width: 100%;
  height: 30%;
}
.dis2 {
  width: 100%;
  height: 30%;
}
.dis2 p {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: none;
}
.learn {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
}
.product1 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.huree {
  width: 99%;
  height: 99%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  background: white;
  z-index: 1;
}
.animation {
  width: 85%;
  height: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  border: 10px;
  z-index: 1;
}
.animation::before {
  content: "";
  position: absolute;
  top: -60%;
  left: -50%;
  width: 100%;
  height: 100vh;
  transform-origin: bottom right;
  background: linear-gradient(0deg, transparent, #ff0000, #ff0000);
  animation: animate 6s linear infinite;
}
.animation::after {
  content: "";
  position: absolute;
  top: -120%;
  left: 50%;
  width: 100%;
  height: 150vh;
  transform-origin:bottom left;
  background: linear-gradient(0deg, transparent,#ff0000, #ff0000);
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.bck-img {
  width: 40%;
  height: 70%;
  background-image: url(./meeting-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.bck-img img {
  width: 240px;
  height: 110px;
  margin-top: 50px;
  border-radius: 20px;
}
.product2 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pro2 {
  width: 40%;
  height: 75%;
  background-image: url(./bck.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 150px;
  display: flex;
  align-items: center;
}
.pro2 img {
  margin-left: 70px;
}
.about-us {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.h1 {
  height: fit-content;
  font-weight: 800;
  font-size: 50px;
}
.says {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  margin-top: 150px;
  gap: 6%;
}
.says 
.footer {
  width: 100%;
  height: 40vh;
  background-color: #252b3b;
  display: flex;
  justify-content: center;
}
.footer1 {
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.footer1 svg {
  width: 25px;
  height: 20px;
}
.footer-logo {
  height: fit-content;
  margin-left: 40px;
  margin-bottom: 20px;
}
.left {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.social {
  width: 80%;
  height: 10%;
  display: flex;
  color: white;
  align-items: center;
}
.social p {
  margin-left: 7px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 27px;
}
.center {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  color: white;
}
.c-left {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.c-center {
  width: 25%;
  height: 100%;
}
.c-right {
  width: 35%;
  height: 100%;
}
.right {
  width: 30%;
  height: 100%;
}
.Tag {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}
.mail {
  width: 100%;
  height: 60%;
}
.sub {
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  width: 100%;
  height: 30%;
  color: white;
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.mail input {
  width: 300px;
  height: 60px;
  border-radius: 10px;
  border: 0;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 30px;
}

.slider-round:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch input:checked + .slider-round {
  background-color: #252b3b;
}

.switch input:focus + .slider-round {
  box-shadow: 0 0 1px #2196f3;
}

.switch input:checked + .slider-round:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 50px;
}

.slider-round:before {
  border-radius: 50%;
}

.darkMode {
  background-color: white;
  /* color: aliceblue; */
}
.bugd {
  width: 100%;
  height: 100vh;
  display: flex;
}
.grey {
  background-color: #252b3b;
}
