.footer {
  width: 100%;
  height: 336px;
  background-color: #252b3b;
  display: flex;
  justify-content: center;
  margin-top: 160px;
}
.footer1 {
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.footer1 svg {
  width: 25px;
  height: 20px;
}
.footer-logo {
  height: fit-content;
  margin-left: 40px;
  margin-bottom: 20px;
}
.left {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.social {
  width: 80%;
  height: 10%;
  display: flex;
  color: white;
  align-items: center;
}
.social p {
  margin-left: 7px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 27px;
}
.center {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  color: white;
}
.c-left {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.c-center {
  width: 25%;
  height: 100%;
}
.c-right {
  width: 35%;
  height: 100%;
}
.right {
  width: 30%;
  height: 100%;
}
.Tag {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}
.mail {
  width: 100%;
  height: 60%;
}
.sub {
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  width: 100%;
  height: 30%;
  color: white;
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.mail input {
  width: 300px;
  height: 60px;
  border-radius: 10px;
  border: 0;
}
.com {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.conversation {
  width: 40%;
  height: 100%;
}
.join {
  width: 100%;
  height: 15%;
  font-size: 30px;
  color: gray;
  margin-bottom: 50px;
}
.comment {
  width: 100%;
  height: 80%;
  display: flex;
  gap: 35px;
}
.comment div {
  width: 10%;
  height: 100%;
}
.comment input {
  width: 70%;
  height: 100%;
  border: 1px solid gray;
  border-radius: 40px;
}
